body {

	background-image: url("../img/background2.jpg");
	background-color: #1A1A1A;
	background-attachment: fixed;
	background-size: cover;
  	background-repeat: no-repeat;
}

h1{
	font-size: 48pt;
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 20pt;
}

.thumb{
	margin-top: 8px;
	/*width: 150px;
	height: 120px;*/

}

.row{
	padding-top: 10px;
	text-align: center;

}

.wedgePanel{
	margin-left: 45px;
}
.panel-primary{
	/* border-color: #E3A348 ; */
	border-color: white;
}
#orange{
	/* #f39c12*/
	/* original #E3A348 */
	/* #E0B467 */
	background-color: #E0B467;
	border-color: #E0B467;
	width: auto;
}

.panelO{

	background-color: #E0B467;


}

.panelDark{

	background-color: #1A1A1A;
	color: white;

}
.littlePadding{
	padding-top: 30px;
	text-align: center;
}

.padded{
	padding-top: 100px;
}

.spaced{
	margin-top: 120px;
}

.panelImage{
	max-height: 700px;
	max-width: 500px;
}

.well{
	text-align: center;
	margin-top: 100px;
}

.bottom{
	background-color: white;
}

.white{
	background-color: white;
}

.sideImage{
	max-height: 400px;
	max-width: 300px;
	padding-bottom: 50px;
}

.lefty{
	text-indent: 40px;
	text-align: left;
}

.nav-pills{
	color: #1A1A1A;
	background-color: white;
	position: fixed;
	width: 170px;
	border-color: #E3A348;
}

.activeO{
	background-color: #E3A348;
	color: white;
}

.aPill{
	color: #1A1A1A;
	outline: none;
}

.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
	color: #1A1A1A;
	background-color: #E3A348;
}

.banner{
	max-height: 250px
}

.middleAllign{
	display: table-cell; height: 200px; 
	vertical-align: middle; 
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}







