<section id="home">
 	<h1>Landon Dare</h1>
	<h3 class = "littlePadding">Welcome to Landon Dare's personal website.</h3>


	<div class="row littlePadding">
		<div  ng-click="clickBio()" class = "col-md-3 panelO panel wedgePanel"
		    ng-class="{panelDark: hover1}" 
		    ng-mouseenter="hover1 = true"
		    ng-mouseleave="hover1 = false">
			<img class="thumb" src="../img/bioIcon.png">
			<h4>About Me</h4>
		</div>
		<div ng-click="clickPro()" class = "col-md-3 col-md-offset-1 panel panelO"
			ng-class="{panelDark: hover2}" 
		    ng-mouseenter="hover2 = true"
		    ng-mouseleave="hover2 = false">
			<img class="thumb" src="../img/briefcase.png">
		  	<h4>Professional Work</h4>
		</div>
		 <div ng-click="clickPer()" class = "col-md-3 col-md-offset-1 panel panelO"
		 	ng-class="{panelDark: hover3}" 
		    ng-mouseenter="hover3 = true"
		    ng-mouseleave="hover3 = false">
		 	<img class="thumb" src="../img/PersonalIcon.png">
		  	<h4>Personal Work</h4>
		</div>
	</div>

	<div class="well spaced">
		<h2>Contact Me</h2>

		<h5><a href="https://github.com/dare2095">github</a></h5>
		<h5><a href="https://www.linkedin.com/in/landon-dare-959952b6">linkedin</a></h5>
	</div>


</section>