<section id="home">
 	<h1>Landon Dare</h1>
	<h3 class = "littlePadding">Welcome to Landon Dare's personal website</h3>
	<h3 class="littlePadding">Please take a look around</h3>


	<div class="row littlePadding spaced">
		<div  ng-click="clickBio()" class = "col-md-2 col-md-offset-2 panel panelO"
		    ng-class="{panelDark: hover1}" 
		    ng-mouseenter="hover1 = true"
		    ng-mouseleave="hover1 = false">
			<img class="thumb" src="../img/iconsSmall/bio.png">
			<h4>About Me</h4>
		</div>
		<div ng-click="clickPro()" class = "col-md-2 panel col-md-offset-1 panelO"
			ng-class="{panelDark: hover2}" 
		    ng-mouseenter="hover2 = true"
		    ng-mouseleave="hover2 = false">
			<img class="thumb" src="../img/iconsSmall/pad.png">
		  	<h4>Professional Work</h4>
		</div>
		 <div ng-click="clickPer()" class = "col-md-2 panel col-md-offset-1 panelO"
		 	ng-class="{panelDark: hover3}" 
		    ng-mouseenter="hover3 = true"
		    ng-mouseleave="hover3 = false">
		 	<img class="thumb" src="../img/iconsSmall/add.png">
		  	<h4>Personal Projects</h4>
		</div>
	</div>

	<div class="well">
		<h2>Welcome</h2>
		<div class = "row">
			<div class = "col-md-6">
				<img class="panelImage" src="../img/selfPic1.jpg">
			</div>
			<div class = "col-md-6">
					<p class="lefty">Hi, my name is Landon Dare! Welcome to my personal website and online resume. I am a software developer based out of Oklahoma City, Oklahoma and I have worked on everything to windows services to iOS applications. I have always had a passion for working with technology, and I’m glad I get to do what I love. You can check out the bio section of the webpage to learn more about more personal life and hobbies. Check out the professional section to get more information about my professional expertise and past work experience. Also feel free to check out some of my extra curricular activities and side projects on the personal page.
					</p>
					<p></p>
					<p class="lefty">Feel free to contact me if you have any questions about myself or the website using the contact information below. Also, if you are a potential employer, feel free to look at my github and linkedin accounts to help in your decision making process. However, please note that I have worked on a myriad of other projects on github that are private, but I would be happy to talk more about them upon request.
					</p>
					<p></p>
					<p class="lefty">Also, yes, that is me feeding a baby Kangaroo!</p>
			</div>
			
		</div>
	

		<h2>Contact Me</h2>

		<h4><img src="../img/iconsSmall/resume.png"><a target="_self" href="/landonDareResume.pdf" download="landonDareResume.pdf">Resume</h4>
		<h4><img src="../img/icons/github.png"><a href="https://github.com/dare2095"> github</a></h4>
		<h4><img src="../img/icons/linkedin.png"><a href="https://www.linkedin.com/in/landon-dare-959952b6">linkedin</a></h4>
		<h4><img src="../img/iconsSmall/email.png"><a href="mailto:landondare+website@gmail.com" target="_top"> 
		landondare@gmail.com</a></h4>
	</div>


</section>