<section id="paycom">
	<img class=" littlePadding" src="../img/paycomLogo.png">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p><a href="http://www.paycom.com/">Paycom Inc</a> is an online web application company specializing in online payroll and human relations management. Thay have a number of software suites and services with several thousands of customers being serviced everyday. They are base out of Oklahoma City, Oklahoma.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h4>Paycom Summer 2015</h4>
				<p class="lefty">Over the summer of 2015, I worked full time as a software development intern at Paycom in Oklahoma City. I mostly worked by myself to fix small issues and act as a helping hand to many of the full time developers. The main team I worked for was the internal CRM team. Every sales representative in the company used this internal application everyday and I was able to write code that went into the latest version of it. I would also occassionally make changes to the internal client database tables and update schemas. One of my more noteworthy additions was adding in the functionality for the salesperson to rank and organize a company’s list of contacts.</p>
				<p class="lefty">During my time as an intern I was also paired with another intern in a research project into incorporating single sign On, or SSO, capabilities into the existing web application. We would partner with a third party identity manager called OneLogin and communicate through xml documents written up in SAML (Security Assertion Mark-up Language) specifications.  We were successfully able to integrate OneLogin’s open source PHP SAML toolkit into a test build of the paycom application. We were also able to further generalize the toolkit to work with other online identity providers and a clients own ADFS services. We finalized the database tables and code packages for further development before our internship came to a close in August.</p>
			</div>
			<div class="col-md-4">
			
			</div>
		</div>

</section>