
<section id="professional">
	<h1>Professional Work</h1>
	<div class="row">

		<div class = "col-md-2">
			<ul class="nav nav-pills nav-stacked panel">
			  <li><a  ui-sref="pro" class="aPill"><h5>Overview</h5></a></li>
			  <li><a ui-sref-active="activeO" ui-sref="pro.ni" class="aPill"><h5>National Instruments</h5></a></li>
			  <li><a ui-sref-active="activeO" ui-sref="pro.paycom" class="aPill"><h5>Paycom</h5></a></li>
			  <li><a ui-sref-active="activeO" ui-sref="pro.ccew" class="aPill"><h5>CCEW</h5></a></li>
			</ul>
		</div>
		<div class="col-md-10 panel panel-primary white">
			<div ui-view>
				<img class="littlePadding" src="img/icons/professionalWork.png">
				<h2>Professional Overview</h2>
				<p class="lefty">
				On this page you can see a quick overview of past projects and teams I have worked with professionally. You can also select one to see a more detailed description of the group and what work I did for them. This information can also be found on my resume, and will closely match it. You can download a resume below
				</p>
				<h4><img src="../img/iconsSmall/resume.png"><a target="_self" href="/landonDareResume.pdf" download="landonDareResume.pdf">Resume</a></h4>
				<div class="row">
					<div class="col-md-2">
						<img class="smallImage" src="img/nationalInstrumentsSmall.png">
					</div>
					<div class="col-md-10">
						<h3 class="left">National Instruments</h3>
						<p></p>
						<ul class="left">
							<li>Worked to develop a new way to manage custom software distributions for NI’s next generation software platform</li>
							<ul>
								<li>Built custom Windows service to handle AMQP messages to create and manage software package repositories</li>
								<li>Collaborated with several diverse teams to bridge the gap between three application spaces.</li>
								<li>Integrated new routes into web service architecture to connect http request with custom Windows service functions.</li>
							</ul>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2"> 
						<img class="smallImage" src="img/paycomSmall.png">
					</div>
					<div class="col-md-10">
						<h3 class="left">Paycom</h3>
						<ul class="left">
							<li>Integrated Single Sign On capabilities to the Paycom customer web application to allow greater ease of use to Paycom clients.</li>
							<ul>
								<li>Adapted a PHP open source SAML toolkit to work with the existing features and parameters of the Paycom application.</li>
								<li>Enabled Active Directory Federation Services and Identity as Service providers to authenticate users for the web application.</li>
							</ul>
							<li>Improved functionality and minor bug fixes to the internal CRM application used by hundreds of Paycom employees every day.</li>
							<ul>
								<li>Added new properties to client contact information modules such as allowing the ranking client contacts and recording their birthdays.</li>
							</ul>
						</ul>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<img class="smallImage" src="img/ccewSmall.png">
					</div>
					<div class="col-md-10">
						<h3 class="left">Center for Creation of Economic Wealth</h3>
						<ul class="left">
							<li>Designed and implemented new features on an iOS English as a second language pronunciation tool Pinying, currently available on the iTunes app store.</li>
							<ul>
								<li>Optimized existing code by a significant margin and created entirely new features to create a smoother and more robust user experience.</li>
							</ul>
							<li>Helped develop a secure method for businesses to share and collaborate on private information and projects.</li>
							<ul>
								<li>Constructed the back-end server architecture, data modules, and API routes in conjunction with a front-end user interface development team.</li>
							</ul>
							<li>Worked with Oklahoma based startup to create software improving the speaking and comprehension skills of K-4th graders using patented storytelling technology.</li>
							<ul>
								<li>Built native iOS application to better access $22M K-4th education technology market with input from real child age users for each major decision.</li>
								<li>Developed data models and networking code, and personally conducted user testing with real 3rd grade students better plan prototypes for subsequent iterations.</li>
							</ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>