
<section id="professional">
	<h1>Professional Work</h1>
	<div class="row">

		<div class = "col-md-2">
			<ul class="nav nav-pills nav-stacked panel">
			  <li><a  ui-sref="pro" class="aPill"><h5>Overview</h5></a></li>
			  <li><a ui-sref-active="activeO" ui-sref="pro.ni" class="aPill"><h5>National Instruments</h5></a></li>
			  <li><a ui-sref-active="activeO" ui-sref="pro.paycom" class="aPill"><h5>Paycom</h5></a></li>
			  <li><a ui-sref-active="activeO" ui-sref="pro.ccew" class="aPill"><h5>CCEW</h5></a></li>
			</ul>
		</div>
		<div class="col-md-10 panel panel-primary white">
			<div ui-view>
				<h2>Professional Overview</h2>
				<p class="lefty">
				On this page you can see a quick overview of past projects and teams I have worked with professionally. You can also select one to see a more detailed description of the group and what work I did for them.
				</p>
			</div>
		</div>
	</div>
</section>